<a
  href="#"
  class="before:content-[' '] motion-safe:transition-colors after:content-[' '] relative inline-flex h-fit w-fit items-center gap-4 overflow-hidden rounded-xl px-8 py-2 font-raleway font-semibold text-white before:absolute before:top-[2px] before:right-[2px] before:left-[2px] before:bottom-[2px] before:z-10 before:rounded-xl before:bg-acv-background after:absolute after:top-0 after:bottom-0 after:left-0 after:right-0 after:z-0 after:block after:bg-acv-red after:bg-acv-linear motion-safe:after:transition-all"
>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="relative z-20"
  >
    <path
      d="M19.3316 12.2433L18.6239 11.9951C18.4893 12.3788 18.6851 12.8 19.0653 12.9444L19.3316 12.2433ZM15.5737 8.39575L14.8489 8.5887C14.9019 8.78763 15.0343 8.95605 15.2151 9.05447C15.3959 9.1529 15.6092 9.17267 15.805 9.10917L15.5737 8.39575ZM5.3404 10.7252L5.57515 11.4375C5.93213 11.3199 6.1469 10.9561 6.07751 10.5867L5.3404 10.7252ZM12.75 9.75C12.75 9.33579 12.4142 9 12 9C11.5858 9 11.25 9.33579 11.25 9.75H12.75ZM12 16.5L11.4697 17.0303C11.7626 17.3232 12.2374 17.3232 12.5303 17.0303L12 16.5ZM9.53033 12.9697C9.23744 12.6768 8.76256 12.6768 8.46967 12.9697C8.17678 13.2626 8.17678 13.7374 8.46967 14.0303L9.53033 12.9697ZM15.5303 14.0303C15.8232 13.7374 15.8232 13.2626 15.5303 12.9697C15.2374 12.6768 14.7626 12.6768 14.4697 12.9697L15.5303 14.0303ZM6.75 18.75C4.67893 18.75 3 17.0711 3 15H1.5C1.5 17.8995 3.85051 20.25 6.75 20.25V18.75ZM18 18.75H6.75V20.25H18V18.75ZM21 15.75C21 17.4069 19.6569 18.75 18 18.75V20.25C20.4853 20.25 22.5 18.2353 22.5 15.75H21ZM19.0653 12.9444C20.1974 13.3746 21 14.4695 21 15.75H22.5C22.5 13.8263 21.2932 12.1863 19.598 11.5422L19.0653 12.9444ZM18.75 11.25C18.75 11.5124 18.7054 11.7629 18.6239 11.9951L20.0394 12.4916C20.176 12.102 20.25 11.6838 20.25 11.25H18.75ZM16.5 9C17.7426 9 18.75 10.0074 18.75 11.25H20.25C20.25 9.17893 18.5711 7.5 16.5 7.5V9ZM15.805 9.10917C16.023 9.03849 16.2563 9 16.5 9V7.5C16.0972 7.5 15.7079 7.56377 15.3423 7.68233L15.805 9.10917ZM10.5 5.25C12.5829 5.25 14.337 6.66576 14.8489 8.5887L16.2984 8.20279C15.616 5.63944 13.2796 3.75 10.5 3.75V5.25ZM6 9.75C6 7.26472 8.01472 5.25 10.5 5.25V3.75C7.18629 3.75 4.5 6.43629 4.5 9.75H6ZM6.07751 10.5867C6.02669 10.3162 6 10.0365 6 9.75H4.5C4.5 10.1299 4.5354 10.5022 4.60329 10.8637L6.07751 10.5867ZM3 15C3 13.3404 4.07863 11.9307 5.57515 11.4375L5.10565 10.0129C3.01247 10.7027 1.5 12.6737 1.5 15H3ZM11.25 9.75V16.5H12.75V9.75H11.25ZM8.46967 14.0303L11.4697 17.0303L12.5303 15.9697L9.53033 12.9697L8.46967 14.0303ZM12.5303 17.0303L15.5303 14.0303L14.4697 12.9697L11.4697 15.9697L12.5303 17.0303Z"
      fill="white"></path>
  </svg>
  <span class="relative z-20">Resume</span>
</a>
