---
import Hero from '../components/Hero/Section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="andrescv | Home">
  <main class="flex w-full flex-col items-center px-8 md:px-16 lg:px-32">
    <div
      class="flex w-full max-w-3xl flex-col items-center md:max-w-4xl xl:max-w-app"
    >
      <Hero />
    </div>
  </main>
</Layout>
