<ul
  class="hidden w-fit items-center justify-between gap-4 sm:flex text-acv-black text-opacity-60 dark:text-acv-white dark:text-opacity-60"
>
  <li>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/andrescv"
    >
      <svg
        width="31"
        height="30"
        viewBox="0 0 31 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M15.2 0.370056C6.91245 0.370056 0.199951 7.08256 0.199951 15.3701C0.199951 22.0076 4.4937 27.6138 10.4562 29.6013C11.2062 29.7326 11.4875 29.2826 11.4875 28.8888C11.4875 28.5326 11.4687 27.3513 11.4687 26.0951C7.69995 26.7888 6.72495 25.1763 6.42495 24.3326C6.2562 23.9013 5.52495 22.5701 4.88745 22.2138C4.36245 21.9326 3.61245 21.2388 4.8687 21.2201C6.04995 21.2013 6.8937 22.3076 7.17495 22.7576C8.52495 25.0263 10.6812 24.3888 11.5437 23.9951C11.675 23.0201 12.0687 22.3638 12.5 21.9888C9.16245 21.6138 5.67495 20.3201 5.67495 14.5826C5.67495 12.9513 6.2562 11.6013 7.21245 10.5513C7.06245 10.1763 6.53745 8.63881 7.36245 6.57631C7.36245 6.57631 8.6187 6.18256 11.4875 8.11381C12.6875 7.77631 13.9625 7.60756 15.2375 7.60756C16.5125 7.60756 17.7875 7.77631 18.9875 8.11381C21.8562 6.16381 23.1125 6.57631 23.1125 6.57631C23.9375 8.63881 23.4125 10.1763 23.2625 10.5513C24.2187 11.6013 24.8 12.9326 24.8 14.5826C24.8 20.3388 21.2937 21.6138 17.9562 21.9888C18.5 22.4576 18.9687 23.3576 18.9687 24.7638C18.9687 26.7701 18.95 28.3826 18.95 28.8888C18.95 29.2826 19.2312 29.7513 19.9812 29.6013C22.9589 28.596 25.5464 26.6822 27.3795 24.1293C29.2126 21.5764 30.1991 18.5129 30.2 15.3701C30.2 7.08256 23.4875 0.370056 15.2 0.370056Z"
          fill="currentColor"></path>
      </svg>
    </a>
  </li>
  <li>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/jandrescv/"
    >
      <svg
        width="29"
        height="30"
        viewBox="0 0 29 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.6 0.600006C6.64695 0.600006 0.199951 7.04701 0.199951 15C0.199951 22.953 6.64695 29.4 14.6 29.4C22.553 29.4 29 22.953 29 15C29 7.04701 22.553 0.600006 14.6 0.600006ZM11.075 20.9685H8.15895V11.5845H11.075V20.9685ZM9.59895 10.4325C8.67795 10.4325 8.08245 9.78001 8.08245 8.97301C8.08245 8.14951 8.69595 7.51651 9.63645 7.51651C10.577 7.51651 11.153 8.14951 11.171 8.97301C11.171 9.78001 10.577 10.4325 9.59895 10.4325ZM21.725 20.9685H18.809V15.768C18.809 14.5575 18.386 13.7355 17.3315 13.7355C16.526 13.7355 16.0475 14.292 15.836 14.8275C15.758 15.018 15.7385 15.288 15.7385 15.5565V20.967H12.821V14.577C12.821 13.4055 12.7835 12.426 12.7445 11.583H15.278L15.4115 12.8865H15.47C15.854 12.2745 16.7945 11.3715 18.368 11.3715C20.2865 11.3715 21.725 12.657 21.725 15.42V20.9685Z"
          fill="currentColor"></path>
      </svg>
    </a>
  </li>
</ul>
